<form method="post">
    <h1>TIME</h1>

    <h2>Person Of The Year</h2>
    <label for="startYear">Start Year: </label>
    <input maxlength="4" name="startYear" />
    <br />
    <label for="endYear">End Year:</label>
    <input maxlength="4" name="endYear" />
    <br />
    <button type="submit">Send Data</button>

</form>
