<link href="~/StyleSheet.css" rel="stylesheet" />

<form method="post">
    <h1>TIME</h1>

    <h2>Person Of The Year</h2>
    <label for="start">Start Year: </label>
    <input maxlength="4" name="start" />
    <br />
    <label for="end">End Year:</label>
    <input maxlength="4" name="end" />
    <br />
    <button type="submit">Send Data</button>

</form>
